<div class="welcome-container vertical-center">
    <div class="content">
        <h1 class="text-center">
            About
        </h1>

        <p>
            This chat room application was built using modern web technology and features account signup and password 
            protected chat rooms.
            
            It leverages Socket.IO to achieve event-driven messaging, along with Angular/Bootstrap 
            for the frontend UI and services, and Node.JS to serve both the Angular single page application and the 
            backend API. Data persistence is achieved using MongoDB and Mongoose.
        </p>
    </div>
</div>