.room-list-container {
    position: relative;
}

.search-bar {
    margin-bottom: 0;
}

.search-results {
    position: absolute;
    width: 100%;
}

.search-result:hover {
    cursor: pointer;
    color: #fff;
    background-color:#007bff;
}

.search-result:hover .badge-primary {
    color: #007bff;
    background-color: #fff;
}
