<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#" [routerLink]="'/'">Chat Clone</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="'/about'">About</a>
			</li>
			<li *ngIf="!(auth.authState | async)" class="nav-item logged-out-item justify-content-end">
				<a class="nav-link" [routerLink]="'/'">Login</a>
			</li>
			<li *ngIf="auth.authState | async" class="nav-item logged-in-item">
				<a class="nav-link justify-content-end" [routerLink]="'/dashboard'">Dashboard</a>
			</li>
			<li *ngIf="auth.authState | async" class="nav-item logged-in-item">
				<a class="nav-link justify-content-end" [routerLink]="'/'" (click)="logout()">Log out</a>
			</li>
		</ul>
	</div>
</nav>

<router-outlet></router-outlet>